{% extends "base.html" %}
{% load staticfiles %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'grade:list' %}">Student Grades</a></li>
  <li class="breadcrumb-item active">{{title|title}}</li>
</ol>
<hr>
{% endblock %}
{% block content %}
<h3>{{title|title}}</h3>
<hr>
<div class="row">
	<div class="col-sm-2">
		{% if instance.image %}
			<div class="card">
				<img class="card-image-top" src="{{instance.image.url}}" alt="{{instance.image.url}" style="width: 100%; height: auto;">
			</div>
		{% else %}
			<div class="col-sm-4">
				<img src="{% static 'img/icilogo.png' %}" alt="ici" style="width: 100%; height: auto;">
			</div>
		{% endif %}
	</div>
	<div class="col-sm-10">
		<h4>{{instance.student.get_full_name|title}} | <small>LRN: {{instance.lrn}}</small></h4>
		<hr>
		<strong>Age: </strong>{{instance.getAge}} years old<br>
		<strong>Birth date: </strong>{{instance.birth_date}}<br>
		<strong>Gender: </strong>{{instance.gender.gender|title}}<br>
		<strong>Address: </strong>{{instance.address|title}}<br>
		<strong>Course: </strong>{{instance.course|upper}}<br>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-block">
				<strong class="card-title">
					Report on Learning Progress and Achievement
				</strong>
				<p>First Semester</p>
				<table class="table table-bordered">
					<tr>
						<th rowspan="2" style="text-align: center;">SUBJECTS</th>
						<th colspan="2" style="text-align: center;">QUARTER</th>
						<th rowspan="2" style="text-align: center;">Final Grade Semester</th>
					</tr>
					<tr>
						<th>1</th>
						<th>2</th>
					</tr>
					{% for grade in instance.grade_set.all %}
					<tr>
						<td>{{grade.subject.descriptive_title|title}}</td>
						<td>{{grade.grade}}</td>
						<td>{{grade.grade}}</td>
						<td></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}