{% extends "base.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">{{title|title}}</li>
</ol>
<hr>
{% endblock %}
{% block content %}
<h3>{{title|title}} 
    {% if perms.blocks.add_blocks %}
    <small>| <a href="{% url 'block:add' %}" class="btn btn-primary btn-sm">Add Block</a></small>
    {% endif %}
</h3>
<hr>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Blocks</th>
            <th>Advisers</th>
            <th>Date Created</th>
            {% if perms.blocks.change_block %}
            <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    	{% for list in blocklist %}
        <tr>
            <td><a href="{% url 'block:detail' list.id %}">{{list.block_name|title}}</a></td>
            <td>{{list.instructor.instructor.get_full_name|title}}</td>
            <td>{{list.timestamp}}</td>
            {% if perms.blocks.change_block %}
            <td><a href="{% url 'block:edit' list.id %}" type="button" class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i></a> | <a href="" type="button" class="btn btn-danger btn-sm"><i class="fa fa-times"></i></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}