{%extends "base.html"%}
{% load crispy_forms_tags %}
{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{% url 'block:list' %}">Block List</a></li>
  <li class="breadcrumb-item active">{{title|title}}</li>
</ol>
<hr>
{% endblock %}
{% block content %}

		<form action="" class="form" method="POST">{% csrf_token %}
			{{form|crispy}}
			<hr>
			<input type="submit" class="btn btn-primary btn-sm" value="Add">
			<a href="{% url 'block:list' %}" class="btn btn-danger btn-sm" type="button">Cancel</a>
		</form>

{% endblock %}