{% extends "base.html" %}


{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active">{{title|title}}</li>
</ol>
<hr>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <h3>{{title|title}}
                {% if perms.courses.add_course %} 
                | <a href="{% url 'course:add' %}" class="btn btn-primary btn-sm">Add Course</a>
                {% endif %}
                </h3>
            </div>
            <div class="col-sm-6">
                <form class="form-inline input-group" method="GET" action="">
                    <input class="form-control" name="q" type="text" placeholder="{{searchPlaceholder}}" value="{{ request.GET.q }}">
                    <span class="input-group-btn">
                        <input class="btn btn-success my-2 my-sm-0" type="submit" value="Search">
                    </span>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
        	{% for course in courselist %}
        	<div class="col-sm-12">
        		<h5>{{forloop.counter}}.) <a href="{% url 'course:detail' course.id %}">{{course.course_name|upper}}</a></h5>
        		<p>{{course.strand|title}} | {{course.department|title}}</p>
        		{% if perms.courses.change_course %}<small><a href="{% url 'course:edit' course.id %}" class="btn btn-secondary btn-sm"><i class="fa fa-edit"></i> Edit</a></small>{% endif %}
        		<hr>
        	</div>

        	{% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}