{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="row">
	<div class="col-sm-3">
		<form action=".?next={{ redirect_to }}" method="post">
			{% csrf_token %}
			<h3>{{title|title}}</h3>
			{{form|crispy}}
			<input type="submit" value="Register" class="btn btn-primary btn-block">
			<hr>
		</form>
		<hr>
	</div>
	<div class="col-sm-9">
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<h1>Welcome to <b style="color: red;">Redpencil!</b></h1> 
				    	<p>"Artist in Innovations and Creativity"</p>
				    	<h3>News and Updates</h3>
				    	<hr>
				    	<p><span class="glyphicon glyphicon-cog"></span> Page under construction...</p>		
					</div>
					<div class="col-sm-4">
						<img src="" alt="">
					</div>
				</div>
					
			</div>
		</div>
		
	</div>	
</div>


{% endblock %}